
.header {
    min-height: 80px;
    background-color: #189AD3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.headerIcon {
    color: white;
}

.bannerImage {
    margin-left: 2em;
}

.bannerText {
    margin-left: 1em;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: white;
}

.white-text {
    color: white;
}
