<div class="container-fluid">
    <div class="row header">
        <div class="col-md-4 d-flex align-items-center justify-content-start">
            <div class="bannerImage">
                <fa-icon [icon]="headerIcon" size="3x" class="headerIcon"></fa-icon>
            </div>
            <div class="bannerText">
                Maintenance Tracker
            </div>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-2 d-flex white-text align-items-center justify-content-around">
            Hello {{user}} <button pButton pRipple type="button" label="Logout" class="p-button-text white-text" icon="pi pi-user" (click)="logout()"></button>
        </div>
    </div>
</div>
