<nav class="sidebar-collapse" #sidebar (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)">
    <div class="container-fluid" *ngIf="!isOpen">
        <div class="row" *ngFor="let item of sidebarItems" style="margin-top: 1em;">
            <div class="col-md-12 d-flex align-items-center justify-content-start">
                <fa-icon [icon]="item.icon" size="2x" style="color: white;"></fa-icon>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="isOpen">
        <a class="row selectable-row" *ngFor="let item of sidebarItems">
            <div class="col-md-3 d-flex align-items-center justify-content-start">
                <fa-icon [icon]="item.icon" size="2x" style="color: white;"></fa-icon>
            </div>
            <div class="col-md-9 d-flex align-items-center justify-content-start sidebar-link-text">
                <p>{{item.text}}</p>
            </div>
        </a>
    </div>
</nav>
